<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_eesy_day01_ioc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_eesy_day01_ioc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_eesy_day01_ioc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_eesy_day01_ioc" />
        </element>
      </element>
    </root>
  </artifact>
</component>